html
	head
		link(rel="stylesheet" href="style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= title
	body
		section.section
			.container
				h1.title= message
				p.subtitle
				| An example website with 
				strong Bulma
				| !
